.full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}

.drawer {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
    background-color: var(--polar-night-0);
}

.main {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
}

.menu {
    color: #FFFEFE;
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: start;
    list-style-type: none;
    list-style-position: unset;
    display: flex;
    flex-direction: column;
    background-color: var(--polar-night-0);
}

.menu-item {
    text-align: center;
    display: flex;
    cursor: pointer;
    padding: 20px;
    background-color: var(--polar-night-0);
    background-image: none;
}

.menu-item:hover {
    background-color: var(--polar-night-2);
}