.message {
  margin: 0.25em 0.6em;
  padding: 0.6em;
  font-weight: 100;
  font-family: Verdana, sans-serif;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  z-index: 0;
}

.message.mine {
  align-self: flex-end;
  background-color: var(--frost-3);
  color: var(--snow-storm-2);
}

.message.yours {
  background-color: var(--snow-storm-0);
}

.message.yours.last:before {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--snow-storm-0);
  border-bottom-right-radius: 15px;
}

.message.yours.last:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--polar-night-3);
  border-bottom-right-radius: 10px;
}

.message.mine.last:before {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 0;
  right: -7px;
  height: 20px;
  width: 20px;
  background: var(--frost-3);
  border-bottom-left-radius: 15px;
}

.message.mine.last:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--polar-night-3);
  border-bottom-left-radius: 10px;
}
